<div class="flex align-items-center justify-content-center p-6">
    <div class="surface-section w-full md:w-12 p-6 md:w-12 p-6 lg:w-30rem shadow-2 ">
         <div class="mb-5 flex justify-content-center align-items-center">
             <img class="" src="assets/images/wilsongroup_logo.png" alt="Image" height="50" class="mb-3">
         </div>
         <div>
             <label for="email2" model class="block text-900 font-medium mb-2">Email</label>
             <input id="email2" [(ngModel)]="email" type="text" placeholder="Email address" type="email" pInputText class="w-full mb-3 p-3">
 
             <label for="password2" class="block text-900 font-medium mb-2">Password</label>
             <input id="password2" [(ngModel)]="password" type="password" placeholder="Password" pInputText class="w-full mb-3 p-3">
 
             <div class="flex align-items-center justify-content-between mb-6">
                 <div class="flex align-items-center">
                     <p-checkbox inputId="rememberme2" [binary]="true" styleClass="mr-2"></p-checkbox>
                     <label class="cursor-pointer" for="rememberme2">Remember me</label>
                 </div>
                 <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
             </div>
             <div *ngIf="loading" class="flex align-items-center justify-content-center">
                <p-progressSpinner class="" [style]="{width: '50px', height: '50px'}" strokeWidth="2" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </div>
            <div>
                <button (click)="onSubmit()" *ngIf="!loading" pButton pRipple label="Sign In" class="w-full p-3"></button>
            </div>
         </div>
    </div>
</div> 

